# gitignore for schoolwork

# System rules
.DS_Store
desktop.ini

# TeX rules
*.aux
*.synctex.gz
*.log
*.fdb_latexmk
*.fls

# BibTeX rules
*.bbl
*.blg

# Java rules
*.xml
*.properties
*.mf
/bin/

.classpath
.project

